<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        html, body
        {
            height: 100%;
        }
        
        body
        {
            display: table;
            margin: 0 auto;
        }
        
        .container
        {
            height: 100%;
            display: table-cell;
            vertical-align: middle;
        }
    </style>
    <title style="color: antiquewhite; font-size: 50px;" >Chat Room</title>
</head>
<body style="background: black;">
    <div class="container" style="color: antiquewhite; font-size: 50px; ">
        <img name="targetimg" src='' height="auto" width="auto" style="background: black; display: block;margin: auto;">
        <textarea id="chat-log" size="10" style="font-size: 100px; color: antiquewhite; background: black;"></textarea><br>
        <input id="chat-message-input" type="text" size="100">
        <input id="chat-message-submit" type="button" value="Send">
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            console.log(data.message)
            if (data.message === "1") {
                var imgSrc= document.targetimg;
                imgSrc.src="https://grs-img.s3.amazonaws.com/output/neck.jpg"
                setTimeout(function erase_textarea(){
                    imgSrc.src="";
                    document.querySelector('#chat-log').value = ""
                }, 10000);
            }else if(data.message === "2"){
                var imgSrc= document.targetimg;
                imgSrc.src="https://grs-img.s3.amazonaws.com/output/123.gif"
                setTimeout(function erase_textarea(){
                    imgSrc.src="";
                    document.querySelector('#chat-log').value = ""
                }, 10000);
            }else {
                document.querySelector('#chat-log').value = (data.message + '\n');
                setTimeout(function erase_textarea(){
                    document.querySelector('#chat-log').value = ""
                }, 7000);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>